@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  font-family: "Kalam", cursive;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header {
    width: 29em;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .header {
    width: 40em;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .header {
    width: 48em;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .header {
    width: 61em;
  }
}
.header__up-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  width: 90rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__up-content {
    width: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__up-content {
    width: 29em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__address {
  padding-top: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__address {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__address {
    display: none;
  }
}
.header__logo {
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}
.header__work {
  padding-top: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__work {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__work {
    display: none;
  }
}
.header__down-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90rem;
  height: 5rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__down-content {
    width: 20em;
    height: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__down-content {
    width: 29em;
    height: 7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__telephone {
  margin-top: auto;
  font-size: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__telephone {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .header__telephone {
    display: none;
  }
}
.header__nav {
  margin: auto auto 0 auto;
  font-size: 1.8rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__nav {
    width: 10em;
  }
}
.header__nav-fixed {
  margin: auto auto 0 auto;
  font-size: 1.8rem;
  position: fixed;
  z-index: 50;
  background: #f5a206;
  top: 0;
  border-radius: 15px;
  right: 0;
  -webkit-animation-name: show_nav;
          animation-name: show_nav;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__nav-fixed {
    width: 100%;
    font-size: 2.2rem;
  }
}
.header__basket-fixed {
  position: fixed;
  top: 0;
  z-index: 50;
  top: 2rem;
  right: 0;
  -webkit-animation-name: show_basket;
          animation-name: show_basket;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__basket-fixed {
    top: 4rem;
    right: auto;
    -webkit-animation-name: show_basket320;
            animation-name: show_basket320;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
}
@-webkit-keyframes show_basket320 {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 4rem;
  }
}
@keyframes show_basket320 {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 4rem;
  }
}
@-webkit-keyframes show_basket {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 2rem;
  }
}
@keyframes show_basket {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 2rem;
  }
}
@-webkit-keyframes show_nav {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes show_nav {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__basket {
  margin-top: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header__basket {
    margin-top: 20px;
  }
}
.header__info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #d55448;
  width: 12rem;
  height: 3em;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.header__info-btn:hover {
  background-color: red;
}
.header__btn-title {
  font-size: 1.5em;
}
.header__btn-total {
  font-size: 1.5em;
}

.fa-cart-shopping {
  font-size: 1.5em;
}

.slider {
  margin-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .slider {
    width: 20em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .slider {
    width: 30em;
  }
}

.img-size {
  width: 95%;
  height: 29em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .img-size {
    height: 10em;
    width: 16em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .img-size {
    height: 15em;
    width: 25em;
  }
}

.image {
  display: none;
}

.slider-interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#prev {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #prev {
    font-size: 2rem;
    color: black;
  }
}

#next {
  cursor: pointer;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  #next {
    font-size: 2rem;
    color: black;
  }
}

#prev:hover,
#next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.dots {
  text-align: center;
  margin-top: 2%;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

.active {
  background-color: black;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .active {
    background-color: black;
  }
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pizza {
    width: 20em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .pizza {
    width: 30em;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pizza__catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .pizza__catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.pizza__item {
  width: 18em;
  height: 37em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pizza__item {
    width: 15em;
    height: 32em;
    gap: 0.5rem;
  }
}
.pizza__item-img {
  border-radius: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pizza__item-img {
    width: 13rem;
    height: 17.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.pizza__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .pizza__item-info {
    gap: 0.5rem;
  }
}
.pizza__consist {
  color: gray;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}

.main {
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  font-family: "Kalam", cursive;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .main {
    width: 30em;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .main {
    width: 40em;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .main {
    width: 48em;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .main {
    width: 61em;
  }
}

body {
  background: #f5a206;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 90rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 20em;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 30em;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    width: 40em;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 48em;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  .container {
    width: 61em;
  }
}

.all-sections {
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  margin-top: 4rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .all-sections {
    padding-bottom: 2rem;
    width: 20rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .all-sections {
    padding-bottom: 2rem;
    width: 30rem;
  }
}

.title-all {
  margin-bottom: 2.5rem;
  font-weight: bold;
  font-size: 2.5em;
  text-align: start;
}

.catalog-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2em;
}

.add_button {
  border-radius: 15px;
  width: 6rem;
  height: 2rem;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.add_button:hover {
  background: red;
}

.all-title {
  font-size: 2rem;
  text-align: center;
}

.all-price {
  font-size: 1.8rem;
}

.all-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: auto;
  margin-bottom: 5px;
}

.sause__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item {
    gap: 0.5rem;
  }
}
.sause__item-img {
  width: 15em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item-img {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
  }
}
.sause__item-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item-title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item-order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item-price {
    font-size: 1em;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .sause__item-add {
    width: 4rem;
    height: 2rem;
    font-size: 0.7rem;
  }
}

.drink {
  margin-top: 4rem;
  padding-bottom: 4em;
}
.drink__item-img {
  width: 10em;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .drink__item-img {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
  }
}
.drink__item-title {
  font-size: 1em;
}
.drink__item-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .drink__item-order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.drink__item-price {
  font-size: 1em;
}
.drink__item-add {
  font-size: 1em;
  width: 5.3rem;
  height: 1.5rem;
}