.drink {
    margin-top: 4rem;
    padding-bottom: 4em;
    &__title {

    }

    &__catalog {
        
    }

    &__item {
        
    }

    &__item-img {
        width: 10em;
        @media screen and (min-width: 320px) and (max-width: 480px) {
            width: 5em;
        margin-left: auto;
        margin-right: auto;

        }
    }

    &__item-title {
        font-size: 1em;
    }

    &__item-order {
        display: flex;
gap: 5px;
        justify-content: center;
        @media screen and (min-width: 320px) and (max-width: 480px) {
         flex-direction: column;
align-items: center;
        }
    }

    &__item-price {
        font-size: 1em;
    }

    &__item-add {
        font-size: 1em;
        width: 5.3rem;
  height: 1.5rem;
    }
}

.add {

    &_button {
    }
}
